<a class="btn btn-primary" [routerLink]="['./add']"> Add School </a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let schoolInfo of schools">
      <tr>
        <th scope="row">{{ schoolInfo.id }}</th>
        <td>{{ schoolInfo.name }}</td>
        <td>{{ schoolInfo.location }}</td>
        <td>
          <a
            class="btn btn-link"
            [routerLink]="['./add']"
            [queryParams]="{ schoolId: schoolInfo.id }"
          >
            Edit
          </a>
          <button class="btn btn-link" (click)="deleteSchool(schoolInfo.id)">
            Delete
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
